.right-area h1 {
    font-size: 35px;
    font-weight: normal;  
}

.right-area h1 span {
    margin-right: 10px;
    font-size: 50px;
    color: lightgray;
}

.right-area p {
    /* padding-left: 80px; */
    text-align: justify;
    font-size: 17px;
    color: gray;
}

.cv-section {
    margin-top: 30px;
}

.section-element {
    margin: 15px 0;
    /* padding-left: 70px; */
}

.section-element h3 {
    font-size: 22px;
    font-weight: normal;
}

.section-element h4, .section-element a, .section-element span{
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

.section-element a {
    color: black;
}

.contactBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .contact {
    padding: 8px 8px 8px 32px;    
    display: block;
    transition: 0.3s;
  }

  .contactInfo, .contactInfo a, .contactInfo p, .contactInfo i{
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
  }
  
  
  .contactInfo {
    margin-bottom: 50px;
  }

  #contactInfo-forWeb, #contactInfo-forWeb a, #contactInfo-forWeb p, #contactInfo-forWeb i{
    color: black;
  }
  .contact a:hover{
    color: #f1f1f1;
  }
  
  .contactBar .closeNav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .contact-element {
    margin: 10px;
  }
  @media screen and (max-height: 450px) {
    .contactBar {padding-top: 15px;}
    .contactBar a {font-size: 18px;}
  }


  .sections i, .sections a, .sections p, .sections h1, .sections h3, .sections h4, .sections span{
    font-size: 90%;
  }

/* web */
.print-area .header {
  height: auto;
  background-color: rgb(31, 34, 43);
  border: 1px solid rgb(31, 34, 43);
}

.header-text {
    color: white;
    width: 60%;
    
}

.header-text h1 {
    font-size: auto;
    font-weight: normal;
}

.header-text p {
    font-size: auto;
    color: lightgray;
}


/* left area for web */
.left-area {
  background-color: rgb(236, 236, 236);
  text-align: center;
  position: relative;
  padding-top: 150px;
}


.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: .5s;
  user-select: none;
  filter: grayscale(100%);
  /* you need all these 4 att if you want to center an element with att position: absolute */
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;  
}

.profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5)
}